@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Rajdhani', sans-serif; */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}
p{
    font-family: 'Open Sans', sans-serif;
}
.new_btn {
    padding: 5px 20px;
    background-color: #80b500;
    color: #fff !important;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 15px 0 15px 0;
    -webkit-border-radius: 15px 0 15px 0;
    -moz-border-radius: 15px 0 15px 0;
    -ms-border-radius: 15px 0 15px 0;
    -o-border-radius: 15px 0 15px 0;
}

h1 {
    font-size: 72px;
    line-height: 1.5;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
}

h5 {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
}

h6 {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
}

.main_manu{
    position: fixed;
    z-index: 99;
    width: 100%;
}
.main_manu .nav-link{
    padding: 0 20px !important;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
}
.main_manu .nav-icom{
    font-size: 25px;
    position: relative;
}
.dropdown .dropdown-toggle{
    margin-top: -10px;
}
/* ==================================================banner================================= */

.banner-text {
    padding: 250px 0;
    width: 650px;
    font-family: 'Rajdhani', sans-serif;
}

.banner-text h6 {
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-text h1 {
    line-height: 1;
    font-weight: 700;
    color: #071c1f;
    margin-bottom: 60px;
    text-transform: capitalize;
}

.banner-text a {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 40px;
    text-align: center;
    background-color: #80b500;
    color: #ffffff;
    text-transform: uppercase;
}
/* ==================================================banner================================= */
.featured{
   padding-top: 100px;

}
.featured_right{
    margin-bottom: 40px;
}
.featured_right:last-child{
    margin-bottom: 0;
}
/* ==================================================banner================================= */
.top-product{
    margin-top: 80px;
    margin-bottom: 50px;
}
.top-product h1,
.featured_product h1{

    color:#071c1f;
}
.top-product ul li{
    display: inline-block;
}
.top-product ul li::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 10px;
    width: 2px;
    background: gray;
}
.top-product ul li a{
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 700;
    color: #071c1f;
    text-transform: uppercase;
    position: relative;
}
.top-product ul li a::after{
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    height: 15px;
    width: 2px;
    background: gray;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.top-product ul li:last-child a::after{
    background: none;
}
.product{
    position: relative;
}
.product p{
    position: absolute;
    top: 10px;
    right: 10px;
}

.product_text h4{

 color: #80b500;
}
.product_text h5{  
    
    font-weight: 500;
    color: #80b500;
}

/* ==================================================banner================================= */
.sub_banner{
    background-color: #f7f5eb;
    padding: 120px 0;
    margin-top: 100px;
    margin-bottom: 60px;
}
.sub_banner_text h6{

    color: #80b500;
    margin-bottom: 20px;
}
.sub_banner_text h1{

    line-height: 1.2;
}
.sub_banner_date{
    margin-top: 60px;
}
.sub_banner_item{
    display: flex;
}
.single_date{
    margin-right: 30px;
}
.single_date h2{
    text-align: center;

    height: 100px;
    width: 100px;
    line-height: 100px;
    background: #ffffff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.single_date p{
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    padding-left: 35px;
    padding-top: 10px;
}
.sub_banner_text a{
    padding: 15px 40px;
    background: #80b500;
    border: 1px solid white;
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    color: #071c1f;
    margin-top: 50px;
}

.featured_product{
    margin-bottom: 20px;
}
.play{
    margin-top: 100px;
    width: 100%;
    height: 600px;
    z-index: 99;
}
.play_item{
    margin-top: 100px;
    width: 100%;
    height: 600px;
    position: relative;  
}
.play-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    border: 4px solid #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.play-icon h4{
    font-size: 30px;
    color: #80b500;
    background: #fff;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 70px;  
}

/* ==================================================Feedback================================= */
.feedback{
    background: #f7f5eb;
    padding: 80px 100px;
}
.feedback h1{
    text-align: center;
    margin-bottom: 25px;
}
.feedback-inner{
    background: #ffffff;
    padding: 40px;
}
.feedback-img{
    max-width: 160px;
}
.feedback-text{
    max-width: 271px;
}
.feedback-text p{
    font-size: 17px; 
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 15px;
}
.feedback-text h4{
    margin-bottom: 5px;
}
.feedback-text h6{
    color: #80b500;
    text-transform: capitalize;
}
/* ==================================================Blog================================= */
.blog{
    padding-top: 80px;
}
.blog h1{
    text-align: center;
    margin-bottom: 20px;
}
.blog_text{
    background: #ffffff;
    padding: 30px;
    box-shadow: 5px 5px 10px lightgrey;
}
.blog_text .blog_heading{
    margin-bottom: 15px;
}
.blog_text .blog_heading ul li{
    font-size: 14;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
    display: inline-block;
    margin-right: 30px;
    text-transform: capitalize;
}
.blog_text .blog_heading ul li span,
.blog_text .blog-footer ul li span{
    font-size: 14px;
    font-weight: 400;
    color: #80b500;
    margin-right: 5px;
}
.blog_text h3{
    font-size: 26px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
    line-height: 1.3;
    margin-bottom: 20px;
}
.blog_text .blog-footer ul{
    display: flex;
    justify-content: space-between;
}
.blog_text .blog-footer ul li{
    font-size: 14;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
    text-transform: capitalize;
}
.blog_text .blog-footer ul li:last-child{
    color: #80b500;
}
/* ==================================================Footer================================= */
.footer{
    padding: 30px 100px;
    background: #f7f5eb; 
    position: relative;  
    margin-top: 170px;
}
.footer-heading{
    position: absolute;
    top: -14%;
    background: #ffffff;
    box-shadow: 5px 5px 10px lightgray;
    width: 1700px;
}
.footer-heading .footer_item{
    padding: 40px 30px 15px;
    display: flex; 
    position: relative;
}
.footer-heading .footer_item::before{
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    background: lightgray;
    width: 1px;
    height: 100px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.footer-heading .footer_text{
    width: 300px;
    margin-left: 30px;
}
.footer-heading .footer_text h4{
    text-transform: capitalize;
    margin-bottom: 5px;
}
.footer-heading .footer_text p{
    font-weight: 400;
    font-size: 15px;
    color: #071c1f;
}

.footer-bottom{
    padding-top: 120px;
}
.footer_item1 p{
    font-size: 16px;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer_item1 .footer_inner li{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 0;
}
.footer_item1 .footer_inner li span{
    margin-right: 20px;
}
.footer_item1 .footer_inner2 li{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    padding-top: 15px;
}
.footer_item2 h4,
.footer_item3 h4,
.footer_item4 h4,
.footer_item5 h4{
    margin-bottom: 20px;
}
.footer_item2 ul li,
.footer_item3 ul li,
.footer_item4 ul li{
    padding: 10px 0;
}
.footer_item5 p{
    font-size: 16px;
    font-weight: 400;
}
.footer_item5 .footer_inner{
    margin-top: 40px; 
}
.footer_item5 .footer_inner input{
    padding: 15px 10px;
    width: 290px;
    border: 1px solid gray;
    background: #ffffff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.footer_item5 .footer_inner button{
    background: #80b500;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.footer_payment h4{
    margin-top: 30px;
    margin-bottom: 15px;  
}

/* ==================================================Sidebar================================= */
.sidbar_wrapper h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 5px 0;
}

.sidebar_button{
    cursor: pointer;
}
.sidbar_wrapper .toast{
    box-shadow: none;
    border: none;
}
.sidbar_wrapper ul li{
    font-size: 18px;
    color: #6d6d6d;
    border-bottom: 1px solid rgba(128, 128, 128, 0.161);
    margin-bottom: 15px;
    padding-bottom: 5px;
    cursor: pointer;
}
/* =================================================Shopping======================================== */
.shopping h2{
    font-size: 45px;
    font-weight: bold;
    padding: 35px 0;
}
.shopping_left{
    display: flex;
    justify-content: space-between;
}
.shopping_left .shopping_icon1{
    width: 30px;
    height: 30px;
    background: #262626;
    color: #f0f0f0;
    padding: 3px;
    margin-right: 20px;
    cursor: pointer;
}
.shopping_left .shopping_icon2{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    padding: 3px;
    margin-right: 20px;
    cursor: pointer;
}
.shopping_right{
    display: flex; 
}
.shopping_right .form-select{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
/* .card-body input{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.card-body button{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.button1{
    width: 50%;
    background: red;
    padding: 5px 15px;
    color: #f0f0f0;
    font-size: 17px;
    font-weight: 700;
}
.button2{
    width: 50%;
    background: black;
    padding: 5px 15px;
}
.button2 a{
    color: #f0f0f0;
    font-size: 17px;
    font-weight: 700;
    background: rgb(7 28 31 / 77%);
} */

/* =================================================Sub Banner======================================== */
.sub_banners{
    padding-top: 250px;
    padding-bottom: 100px;
}
.sub_banners h6{
    color: #80b500;
}
.sub_banners h1{
    color: #ffffff;
}

/* =================================================AbutShop======================================== */
.about_shop{
    margin: 100px 0;
}
.about_text {
    padding-left: 20px;
}
.about_text .about_inner h6{
    color: #80b500;
    margin-bottom: 15px;
}
.about_text .about_inner h1{
    line-height: 1;
    margin-bottom: 15px;
}
.about_text .about_inner p{
    padding: 0 0 0 30px;
    border-width: 0 0 0 2px;
    border-style: solid;
    border-color: #80b500;
    max-width: 450px;
    line-height: 1.8;
    font-size: 17px;
    font-weight: 400;
}
.about_text .about_inner2 p{
    margin-top: 30px;
    line-height: 1.8;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* =================================================Abut Choose======================================== */
.about_choose{
    background: #f7f5eb ;
    padding: 100px 0;
}
.about_choose_heading{
    text-align: center;
}
.about_choose_heading h6{
    color: #80b500;
}
.about_choose_item{
    padding: 30px 44px 10px;
    background: #ffffff;
}
.about_choose_item h3{
    padding-left: 30px;
}
.about_choose_item p{
    line-height: 1.8;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 15px;
}
.about_team{
    margin: 100px 0;
}
.about_team h1{
    text-align: center; 
    margin-bottom: 30px;
}
.about_team_text{
    padding: 20px;
    box-shadow: 5px 5px 10px lightgrey;
    text-align: center;
}
.about_team_text h6{
    color: #80b500;
    margin-bottom: 15px;
}
.single_text p{
    width: 500px;
    margin-top: 20px;
}
.single_text button{
    width: 48%;
    margin-right: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 10px 0;
}

/* =================================================Cart======================================== */
.contact{
    margin: 100px 0;
}
.contact .contact_wrapper{
    border: 1px solid grey;
    text-align: center;
    padding: 50px 30px 25px;
}
.contact .contact_text h3{
    margin-top: 20px;
    margin-bottom: 15px;
}
.contact .contact_text p{
    margin: 0;
}
.contact_from{
    border: 1px solid gray;
    z-index: 99;
}
.contact_from h3{
    margin-bottom: 30px;
}
.contact_from .from_wrapper input{
    padding: 15px 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.contact_from .form-select{
    padding: 15px 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.contact_from .contact_button{
    background: #80b500;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    padding: 15px 40px ;
    margin-top: 20px;
    border-radius:0 ;
    -webkit-border-radius:0 ;
    -moz-border-radius:0 ;
    -ms-border-radius:0 ;
    -o-border-radius:0 ;
}

/* =================================================Cart======================================== */
.cart_form input{
    padding: 10px 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.cart_form button{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif; 
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 10px 40px;
}
.cart_button{
    width: 100%;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif; 
    padding: 10px 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.card-header{
    text-align: center;
}
.card-header button{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif; 
    cursor: pointer;
}
.info_header{
    text-align: center !important;
}
/* =================================================Retsitration======================================== */
.login{
    padding: 40px 30px 20px;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.login h2{
    text-align: center;
    margin-bottom: 30px;
}
.login input{
    padding: 15px 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom: 30px;
}
.login button{
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: #80b500;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
    border: 0;
}
.login-text{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 700;
    font-family: 'Rajdhani', sans-serif;
}
.login-text a{
    color: #80b500;
}


/* =================================================Admin Sidebar======================================== */
